/* Color Theme Swatches in Hex */
.background { color: #BFB3A8; }
.Arquitetura-2-hex { color: #D9967E; }
.principal { color: #733B2F; }
.Arquitetura-4-hex { color: #A66658; }
.destaque { color: #BF463B; }


html {
principal: #733B2F;
color: #BF463B;
}